.T0 {
    text-align: center;
    font-family: "Intel", sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 5px black;
    margin-top: 2vh;
}


.T1 {
    text-align: center;
    font-family: "Intel", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0%;
}

.T2 {
    text-align: center;
    font-family: "Intel", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.T3 {
    text-align: center;
    font-family: "Intel", sans-serif;
    font-size: 14px;
}

.T4 {
    text-align: center;
    font-family: "Intel", sans-serif;
    font-size: 15px;
    color: #ffffff;
    text-shadow: 1px 1px 5px black;
}

.F1 {
    font-family: "Intel", sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.F2 {
    font-family: "Intel", sans-serif;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

/*------------------------------------------------*/

#nav-bar {
    background-color: #CFB79B;
    padding: 1vh;
}

.nav-item{
    font-size: 20px;
}

#nav-ico{
    width: 30px;
    height: 30px;
}

@media (min-width:425px) {

    #nav-ico a img {
        width: 30px!important;
        height: 30px!important;
    }
}

#menu-produits, #menu-packs, #menu-propos, #menu-forums, #menu-contact {
    color: white;
}

.sup-padding {
    padding: 0;
}

/*------------------------------------------------*/

.banniere {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    margin: 6vh 0 5vh 0;
}

.image {
    grid-column: 1;
    grid-row: 1;
}

.text {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    margin: auto;
    background-color: #cfb79ba9;
    padding: 5px;
    border-radius: 4px;
}

.img-banniere {
    width: 100%;
    max-height: 50vh;
}

/*------------------------------------------------*/

.img-100 {
    width: 100%;
}

.bouton {
    background-color: #CFB79B;
    font-family: "Intel", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: 0px;
    border-radius: 4px;
    width: 90%;
    height: 40px;
    margin-bottom: 5%;
}

/*------------------------------------------------*/

.packs {
    margin: 0% 1% 10vh 1%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 16;
}

.decouverte {
    display: grid;
    background-color: #F3F3F3;
    margin: 4%;
    grid-column: 1;
    grid-row: 1;
    text-align: center;
}

.decouverte-infusion {
    display: grid;
    background-color: #F3F3F3;
    margin: 4%;
    grid-column: 2;
    grid-row: 1;
    text-align: center;
}

.detox-slim {
    display: grid;
    background-color: #F3F3F3;
    margin: 4%;
    grid-column: 1;
    grid-row: 2;
    text-align: center;
}

.the-matcha {
    display: grid;
    background-color: #F3F3F3;
    margin: 4%;
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}

.famille {
    display: grid;
    background-color: #F3F3F3;
    margin: 4%;
    grid-column: 1;
    grid-row: 3;
    text-align: center;
    align-items: bottom;
}

.coffret-infusion {
    display: grid;
    background-color: #F3F3F3;
    margin: 4%;
    grid-column: 2;
    grid-row: 3;
    text-align: center;
}

.energie {
    display: grid;
    background-color: #F3F3F3;
    margin: 4%;
    grid-column: 1;
    grid-row: 4;
    text-align: center;
}

.digestion {
    display: grid;
    background-color: #F3F3F3;
    margin: 4%;
    grid-column: 2;
    grid-row: 4;
    text-align: center;
}

.bundle {
    display: grid;
    background-color: #F3F3F3;
    margin: 4%;
    grid-column: 1;
    grid-row: 5;
    text-align: center;
}

.pack-detox {
    display: grid;
    background-color: #F3F3F3;
    margin: 4%;
    grid-column: 2;
    grid-row: 5;
    text-align: center;
}

.melanges-sportif {
    display: grid;
    background-color: #F3F3F3;
    margin: 4%;
    grid-column: 1;
    grid-row: 6;
    text-align: center;
}

.infusion-sans-theine {
    display: grid;
    background-color: #F3F3F3;
    margin: 4%;
    grid-column: 2;
    grid-row: 6;
    text-align: center;
}

/*------------------------------------------------*/

.footer-grid {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 2;
    padding: 2%;
}

.specialites {
    grid-column: 1;
    grid-row: 1;
}

.aide {
    grid-column: 2;
    grid-row: 1;
}

.panda-tea {
    grid-column: 3;
    grid-row: 1;
}

.reseaux {
    grid-column: span 3;
    grid-row: 2;
    padding-bottom: 5%;
    text-align: center;
}

/*------------------------------------------------*/

@media (min-width: 790px) {

    .banniere {
        margin-top: auto;
    }

    .packs {
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 4;
    }

    .detox-slim {
        grid-column: 3;
        grid-row: 1;
    }

    .the-matcha {
        grid-column: 1;
        grid-row: 2;
    }

    .famille {
        grid-column: 2;
        grid-row: 2;
    }

    .coffret-infusion {
        grid-column: 3;
        grid-row: 2;
    }

    .energie {
        grid-column: 1;
        grid-row: 3;
    }

    .digestion {
        grid-column: 2;
        grid-row: 3;
    }

    .bundle {
        grid-column: 3;
        grid-row: 3;
    }

    .pack-detox {
        grid-column: 1;
        grid-row: 4;
    }

    .melanges-sportif {
        grid-column: 2;
        grid-row: 4;
    }

    .infusion-sans-theine {
        grid-column: 3;
        grid-row: 4;
    }
}

@media (min-width: 1200px) {

    .packs {
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 3;
    }

    .the-matcha {
        grid-column: 4;
        grid-row: 1;
    }

    .famille {
        grid-column: 1;
        grid-row: 2;
    }

    .coffret-infusion {
        grid-column: 2;
        grid-row: 2;
    }

    .energie {
        grid-column: 3;
        grid-row: 2;
    }

    .digestion {
        grid-column: 4;
        grid-row: 2;
    }

    .bundle {
        grid-column: 1;
        grid-row: 3;
    }

    .pack-detox {
        grid-column: 2;
        grid-row: 3;
    }

    .melanges-sportif {
        grid-column: 3;
        grid-row: 3;
    }

    .infusion-sans-theine {
        grid-column: 4;
        grid-row: 3;
    }

    .footer-grid {
        grid-template-columns: 4;
    }

    .reseaux {
        grid-column: 4;
        grid-row: 1;
    }
}

@media (min-width: 1500px) {

    .packs {
        margin: 0% 15% 10vh 15%;
    }

    .footer-grid {
        margin: 10vh 15% 10vh 15%;
    }
}